body {
	height: 100vh; 
	width: 100%;
	background-image: url("texture.png"); 
}

#container {
	height: 100%; 
	width: 100%;
}

#yellow {
	position: absolute;
	top: 2%;
	left: 5%;
	height: 35%;
	width: 35%;
	transform: rotate(10deg);

}

#red {
	position: absolute;
	top: 12%;
	left: 12%;
	height: 45%;
	width: 45%;
	transform: rotate(7deg);
}

#green {
	position: absolute;
	top: 13%;
	left: 16%;
	height: 45%;
	width: 45%;

}

#black1 {
	position: absolute;
	top: 0%;
	left: 25%;
	height: 45%;
	width: 45%;
	transform: rotate(2deg);

}

#black2 {
	position: absolute;
	top: 10%;
	left: 34%;
	height: 45%;
	width: 45%;
	transform: rotate(-3deg);

}

#black3 {
	position: absolute;
	top: 78%;
	left: 12%;
	height: 45%;
	width: 45%;

}

#black4 {
	position: absolute;
	top: 82%;
	left: 4%;
	height: 45%;
	width: 45%;
	
}

#black5 {
	position: absolute;
	top: 89%;
	left: 6%;
	height: 45%;
	width: 45%;
	transform: rotate(7deg);
}

#black6 {
	position: absolute;
	top: 85%;
	left: 12%;
	height: 45%;
	width: 45%;
	transform: rotate(-15deg);
}

#black7 {
	position: absolute;
	top: 90%;
	left: 13%;
	height: 45%;
	width: 45%;
	transform: rotate(-10deg);
}