@import url('https://fonts.googleapis.com/css?family=Poppins');

#skyVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: 1;

}

canvas {
	z-index: 100;
	position: relative;
	mix-blend-mode: luminosity;
}

#info {
	position: absolute;
	top: 25%;
	left: 25%;
	color:white;
	font-family: Poppins;
	size: 200%; 
	z-index: 159;
}

#pop {
	position: absolute;
	top: 33%;
	left: 35%;
	color:white;
	font-family: Poppins;
	size: 200%; 
	z-index: 159;
}