@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
		background-color: #008ee9; 
		

	}
h1 {
	color:yellow;
}

#container {
	position: relative;
	z-index: 3; 
}
canvas {
		margin: 0;
        height: 100vh;
        z-index: 1; 
        position: relative;
	}
 
#fade1 {
	position: absolute;
	bottom: 15%;
    right: 15%;
	width: 100%;
	text-align: right;
	z-index: 100;
	font-family: Poppins; 
	color: #e2dac1;
	size: 200%;
	
}

#fade2 {
	position: absolute;
	bottom: 10%;
    right: 10%;
	width: 100%;
	text-align: right;
	z-index: 100;
	font-family: Poppins; 
	color: #e2dac1;
	size: 200%;
	
}
 

